@*Author: Emma Hilborn - 200282755
Date: July 31, 2016
Version: 1.0.0
Description: Main menu page, displaying the full menu by item type (appetizer, main, dessert, beverage)*@

@model IEnumerable<TheLocalGeekery.Models.MenuItem>

@helper Truncate(string
input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "Menu - The Local Geekery";
}
<div class="jumbotron">
    <h1 class="main-title">The Local Geekery</h1>
    <h2 class="sub-title">Menu</h2>
    <br />
    <p>Click on any item to view more details about it!</p>
    <br />
    @*Appetizers table*@
    <h3>Appetizers</h3>
    <table class="table menu-table">
        <tbody>
            <tr>
                <th style="width:250px;">
                    Menu Item
                </th>
                <th style="width:700px;">
                    Description
                </th>
                <th style="width:85px;">
                    Price
                </th>
            </tr>
            @*Grab each menu item that has type Appetizer*@
            @foreach (var item in Model.Where(a => a.ItemType == "Appetizer"))
            {
                <tr>
                    <td>
                        <img src="@item.ItemIconUrl" alt="@item.ItemName" />
                        @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
                    </td>
                    <td>
                        @Truncate(item.ItemDescription, 90)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>

                </tr>
            }
            <tr><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    @*Main Courses table*@
    <h3>Main Courses</h3>
    <table class="table menu-table">
        <tbody>
            <tr>
                <th style="width:250px;">
                    Menu Item
                </th>
                <th style="width:700px;">
                    Description
                </th>
                <th style="width:85px;">
                    Price
                </th>
            </tr>
            @*Grab each menu item that has type Main*@
            @foreach (var item in Model.Where(a => a.ItemType == "Main"))
            {
                <tr>
                    <td>
                        <img src="@item.ItemIconUrl" alt="@item.ItemName" />
                        @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
                    </td>
                    <td>
                        @Truncate(item.ItemDescription, 90)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                </tr>
            }
            <tr><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    @*Desserts table*@
    <h3>Desserts</h3>
    <table class="table menu-table">
        <tbody>
            <tr>
                <th style="width:250px;">
                    Menu Item
                </th>
                <th style="width:700px;">
                    Description
                </th>
                <th style="width:85px;">
                    Price
                </th>
            </tr>
            @*Grab each menu item that has type Dessert*@
            @foreach (var item in Model.Where(a => a.ItemType == "Dessert"))
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ItemIconUrl)" alt="@item.ItemName" />
                        @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
                    </td>
                    <td>
                        @Truncate(item.ItemDescription, 90)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                </tr>
            }
            <tr><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    @*Beverages table*@
    <h3>Beverages</h3>
    <table class="table menu-table">
        <tbody>
            <tr>
                <th style="width:250px;">
                    Menu Item
                </th>
                <th style="width:700px;">
                    Description
                </th>
                <th style="width:85px;">
                    Price
                </th>
            </tr>
            @*Grab each menu item that has type Beverage*@
            @foreach (var item in Model.Where(a => a.ItemType == "Beverage"))
            {
                <tr>
                    <td>
                        <img src="@item.ItemIconUrl" alt="@item.ItemName" />
                        @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
                    </td>
                    <td>
                        @Truncate(item.ItemDescription, 90)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                </tr>
            }
            <tr><td></td><td></td><td></td></tr>
        </tbody>
    </table>
</div>


